{#
/**
 * @file
 * Custom template for the parish/ministry grant request composite element.
 *
 * Sub-elements added or reordered in the custom composite UI will not take
 * effect unless added to this file.
 *
 * The specific composite element/key that gets mapped to this template file is
 * controlled in the .module file. If you change the composite key, the
 * template mapping will break unless you update the mapping information in
 * webform_grant_requests_form_alter().
 *
 * Changes to this template require a Twig cache clear, which can be
 * accomplished with the following command:
 *
 *   drush php-eval "\Drupal\Core\PhpStorage\PhpStorageFactory::get('twig')->deleteAll();"
 *
 * Available variables:
 * - element: The webform composite sub-elements to output.
 */
#}
{{ attach_library('webform_grant_requests/webform_grant_requests') }}

<h2><strong>Begin your request below:</strong></h2>

<fieldset>
    <legend>Contact Information</legend>
    <div class="fieldset-wrapper">
        {% if element.type_of_request %}
            {{ element.type_of_request }}
        {% endif %}
        {% if element.arch_diocese %}
            {{ element.arch_diocese }}
        {% endif %}
        {% if element.parish_group_name %}
            {{ element.parish_group_name }}
        {% endif %}
        {% if element.pastor %}
            {{ element.pastor }}
        {% endif %}
        {% if element.address %}
            {{ element.address }}
        {% endif %}
        {% if element.your_name %}
            {{ element.your_name }}
        {% endif %}
        {% if element.your_email %}
            {{ element.your_email }}
        {% endif %}
        {% if element.telephone_of_person_completing_form %}
            {{ element.telephone_of_person_completing_form }}
        {% endif %}
    </div>
</fieldset>
<h2><strong>Grant Accountability 2018-2019</strong></h2>
<h3><strong>Please provide detailed information for the grant you received in 2018 - 2019. Please ensure you provide a comprehensive description of how grant funds were utilized.</strong></h3>

<fieldset>
    <legend>African American Programs Grant Accountability for Previous Year (2018 - 2019)</legend>
    <div class="fieldset-wrapper">
        {% if element.amount_received %}
            {{ element.amount_received }}
        {% endif %}
        {% if element.number_of_african_americans_served_previous %}
            {{ element.number_of_african_americans_served_previous }}
        {% endif %}
        {% if element.detail_grant_use %}
            {{ element.detail_grant_use }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Native American Programs Grant Accountability for Previous Year (2018 - 2019)</legend>
    <div class="fieldset-wrapper">
        {% if element.amount_received_native_american_field %}
            {{ element.amount_received_native_american_field }}
        {% endif %}
        {% if element.number_of_native_americans_served_previous %}
            {{ element.number_of_native_americans_served_previous }}
        {% endif %}
        {% if element.detail_grant_use_na %}
            {{ element.detail_grant_use_na }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Did you submit Project Newsflash materials on the following dates?</legend>
    <div class="fieldset-wrapper">
        {% if element.feb28 %}
            {{ element.feb28 }}
        {% endif %}
        {% if element.may31 %}
            {{ element.may31 }}
        {% endif %}
        {% if element.aug31 %}
            {{ element.aug31 }}
        {% endif %}
        {% if element.nov30 %}
            {{ element.nov30 }}
        {% endif %}
    </div>
</fieldset>

<h2><strong>Grant Requests 2019-2020</strong></h2>
<h3><strong>Please Complete This Section With Information For New Grant Requests For The 2019 - 2020 Grant Year</strong></h3>

<fieldset>
    <legend>Individuals Served</legend>
    <div class="fieldset-wrapper">
        {% if element.number_of_african_americans_served %}
            {{ element.number_of_african_americans_served }}
        {% endif %}
        {% if element.number_of_native_americans_served %}
            {{ element.number_of_native_americans_served }}
        {% endif %}
        {% if element.total_number_of_people_served %}
            {{ element.total_number_of_people_served }}
        {% endif %}
        {% if element.number_of_african_americans_who_attend_mass %}
            {{ element.number_of_african_americans_who_attend_mass }}
        {% endif %}
        {% if element.number_of_native_americans_who_attend_mass %}
            {{ element.number_of_native_americans_who_attend_mass }}
        {% endif %}
        {% if element.total_parish_population %}
            {{ element.total_parish_population }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Cost and Fee Information</legend>
    <div class="fieldset-wrapper">
        {% if element.annual_cost_per_person_served_by_the_program %}
            {{ element.annual_cost_per_person_served_by_the_program }}
        {% endif %}
        {% if element.annual_tuition_per_student %}
            {{ element.annual_tuition_per_student }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Budget Information</legend>
    <div class="fieldset-wrapper">
        {% if element.annual_total_budget_for_the_program %}
            {{ element.annual_total_budget_for_the_program }}
        {% endif %}
        {% if element.total_actual_annual_fees_received %}
            {{ element.total_actual_annual_fees_received }}
        {% endif %}
        {% if element.number_of_program_ministers %}
            {{ element.number_of_program_ministers }}
        {% endif %}
        {% if element.average_annual_salary_stipends_for_program_ministers %}
            {{ element.average_annual_salary_stipends_for_program_ministers }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Other Sources of Financial Support</legend>
    <div class="fieldset-wrapper">
        <p><strong>Please list the other organizations and activities from which you receive financial support and how much is received from each one, i.e. Diocesan grants, Grants from Foundations and other organizations, fundraising etc. Please do not include amounts received from the Black and Indian Mission Office.</strong></p>
        {% if element.other_sources_of_support %}
            {{ element.other_sources_of_support }}
        {% endif %}
        {% if element.total_other_sources_of_funding %}
            {{ element.total_other_sources_of_funding }}
        {% endif %}
    </div>
</fieldset>

<fieldset>
    <legend>Current Year (2019 - 2020) Grant Request</legend>
    <div class="fieldset-wrapper">
        {% if element.amount_requested_current %}
            {{ element.amount_requested_current }}
        {% endif %}
        {% if element.detailed_description_of_how_the_grant_will_be_used %}
            {{ element.detailed_description_of_how_the_grant_will_be_used }}
        {% endif %}
    </div>
</fieldset>
